<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>分类管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" th:href="@{/css/my-css.css}"/>
</head>
<body>

<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" th:replace="~{admin/_fragment :: nav(2)}">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">博客后台</h2>
            <a href="../templates/index.html" class="m-item item active m-mobile-hide"><i class="mini home icon"></i>博客</a>
            <a href="../templates/types.html" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
            <a href="../templates/tags.html" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
            <div class="m-item right menu m-mobile-hide">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="https://picsum.photos/id/3/100/100" alt="" class="ui avatar image">
                        反复云
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--手机端 图标-->
    <a href="#" class="menu toggle ui black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="blogs-update.html" class="item">发布</a>
            <a href="blogs.html" class="item active teal">列表</a>
        </div>
    </div>
</div>
<!--中间内容-->
<div class="m-padded-tb-big m-container-small">
    <div class="ui container">
        <!--搜索-->
        <form action="" method="post" class="ui segment form">
            <div class="inline fields">
                <div class="field">
                    <div class="ui action labeled input">
                        <div class="ui label teal">分类</div>
                        <input type="text" name="type" placeholder="名称...">
                        <button class="ui icon teal button">
                            <i class="search icon"></i>
                        </button>
                    </div>
                </div>
                <div class="field">
                    <div class="ui">
                        <a href="#" class="ui  teal basic button" onclick="addModal()">新增</a>
                        <a href="#" class="ui  basic red button">删除</a>
                    </div>
                </div>
            </div>
        </form>
        <!--拟态框-->
        <div class="ui modal">
            <i class="close icon"></i>
            <div class="header">
                分类新增
            </div>
            <div class="image content">
                <form action="#" method="post" class="ui form">
                    <div class="field">
                        <div class="ui left labeled input">
                            <label for="" class="ui teal basic label">名称</label>
                            <input type="text" id="typeName" placeholder="分类名称">
                        </div>
                    </div>
                    <!--按钮-->
                    <div class="ui right aligned actions container">
                        <button type="button" class="ui black deny button">返回</button>
                        <button type="button" class="ui teal button" onclick="addModall()">提交</button>
                    </div>
                </form>
            </div>
        </div>
        <!--列表-->
        <table class="ui center aligned celled table">
            <thead>
            <tr>
                <th><input type="checkbox" tabindex="0" class="hidden" id="checkAll" onclick="selectAll()"></th>
                <th>序号</th>
                <th>名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="type , number : ${page.content}">
                <td><input type="checkbox" tabindex="0" class="hidden" name="checkOne" th:value="${type.id}"></td>
                <td th:text="${number.count}">1</td>
                <td th:text="${type.name}">刻意练习清单</td>
                <td>
                    <a href="#" class="ui mini basic teal button">编辑</a>
                    <a class="ui mini basic red button">删除</a>
                </td>
            </tr>
            </tbody>
            <!--分页-->
            <tfoot>
            <tr>
                <th colspan="6">
                    <div class="ui floated pagination menu">
                        <a class="icon item" th:href="@{/admin/types(page=${page.number}-1)}">
                            <i class="left chevron icon"></i>
                        </a>
                        <a class="item">1</a>
                        <a class="icon item" th:href="@{/admin/types(page=${page.number}+1)}">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<!--底部-->
<footer class="ui inverted divided vertical segment m-padded-tb-massive m-margin-top-big"
        th:replace="~{admin/_fragment :: footer}">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <img src="../static/images/vx.png" class="ui centered rounded image" alt="" style="width: 110px">
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a style="line-height: 1.5em !important;" href="#" class="item">用户故事（User story）</a>
                    <a style="line-height: 1.5em !important;" href="#" class="item">用户故事（User story）</a>
                    <a style="line-height: 1.5em !important;" href="#" class="item">用户故事（User story）</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">联系方式</h4>
                <div class="ui inverted link list">
                    <a style="line-height: 1.5em !important;" href="#" class="item">Email：2421218445@qq.com</a>
                    <a style="line-height: 1.5em !important;" href="#" class="item">QQ：2421218445</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">博客介绍</h4>
                <p style="line-height: 2em !important;" class="m-text-thin m-text-spaced m-opacity-mini">
                    这是我的个人博客，会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助。</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copuright @ 2016 - 2017 Lirenmu Designed by Lirenmi</p>
    </div>
</footer>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    /*手机端 导航按钮*/
    $(".menu").click(function () {
        $(".m-item").toggleClass("m-mobile-hide");
    });
    /*头像滑动显示下拉菜单*/
    $(".ui.dropdown").dropdown({
        on: 'hover'
    });

    function addModal() {
        /*模态显示*/
        $('.ui.modal')
            .modal('show')
        ;
    }

    function addModall() {
        var name = $("#typeName").val();
        $.ajax({
           type : "POST",
           url :"type/seveType",
            data : {'name' : name},
            success : function (result) {
                if (result){
                    
                }
            }
        });
        /*模态隐藏*/
        $('.ui.modal')
            .modal('hide')
        ;
    }

</script>
</body>
</html>